@use 'sass:math';
@use './../../scss' as *;

.slider {
  /**
  * in order to limit the items to be contained inside max-page-width,
  * while at the same time allow them to be visible all the way out in the sides
  */
  // 100vw - 20cols / 2 = lines up with other content that's 20cols wide
  $page-width-overflow: calc((100vw - #{math.div($page, 24) * 20}) / 2);

  &__content {
    // align-items: center;
    width: 100%;
    padding: 10px 0 units(2);

    @include mq($from: l) {
      padding-bottom: units(3);
    }
  }

  &__ui {
    margin: units(2) auto 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq($from: l) {
      margin-top: units(3);
    }
  }

  [data-item] {
    // transition: transform 0.2s;
    @include grid-cols($prop: padding-right, $cols: 1);
    width: 75vw;
    flex-shrink: 0;
    box-sizing: content-box;

    @include mq($from: s) {
      width: 25%;
    }

    @include mq($from: $page) {
      width: calc(#{$page} / 4);
    }
  }

  [data-prev] {
    margin-right: units(1);

    @include mq($from: m) {
      margin-right: units(3);
    }

    svg {
      transform: rotate(180deg);
    }
  }

  .center-headline {
    @include grid-cols($prop: margin-left, $cols: 1);
    @include grid-cols($prop: margin-right, $cols: 1);
  }
}
