@use './../../scss' as *;

.input-text {
  @include font-family(display);

  display: inline-flex;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
  }

  &__placeholder {
    @include font-family(sans-serif);
    position: absolute;
    bottom: units(1);
    width: 100%;

    padding: 0 calc(#{units(1)} + 2px); // place it next to caret

    color: $color-grey-2;

    pointer-events: none;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    * {
      white-space: inherit;
      overflow: inherit;
      text-overflow: inherit;
    }
  }

  &__input {
    @include font-typeset(paragraph-component);

    width: inherit;
    height: units(4);
    padding: 0 units(1);

    background-color: $color-white;
    border-radius: $border-radius;
    border: $border-width solid $color-grey-1;

    &:focus {
      outline: 0;
    }
  }

  .input-dropdown {
    bottom: 0;
    transform: translateY(calc(100% - #{$border-radius}));
  }

  &--slim {
    justify-content: center;

    &:focus-within {
      .input-label {
        color: $color-grey-2;
      }
    }

    .input-label {
      @include font-typeset(paragraph-standard);
      position: absolute;
      color: $color-black;

      padding: 0 0 0 1em;
    }

    .input-text {
      &__input {
        padding-left: 55px;

        &:not(:placeholder-shown) {
          + .input-label {
            color: $color-grey-2;
          }
        }
      }

      &__placeholder {
        padding-left: 57px;
        margin-top: 0;
      }
    }
  }

  /**
   * controls / states
   */

  // hide dropdown by default
  .input-dropdown {
    display: none;
  }
  // show dropdown when input has focus
  &:focus-within {
    input {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }

    .input-dropdown {
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
      display: block;
    }
  }

  // hide placeholder by default
  .input-text {
    &__placeholder {
      opacity: 0;
    }

    &__input {
      // show placeholder when input is empty
      &:placeholder-shown {
        ~ .input-text {
          &__placeholder {
            opacity: 1;
          }
        }
      }
    }
  }
}
