@import './../dist/dsb.css';

* {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.p-r {
  position: relative;
}

.p-a {
  position: absolute;
}