@use './../../scss/media-query' as *;
@use './../../scss/font/sizes-new' as *;
@use './../../scss/grid/grid' as *;

:host {
  --icon-color: var(--color-red);

  width: 100%;
  display: inline-flex;
}

:host([isopen]) {
  .plus {
    transform: rotate(45deg);
  }
}

.plus {
  transition: transform 0.2s var(--ease-in-out);
}

.details {
  width: 100%;
  padding: 0 cols(1);
  box-sizing: border-box;
  background-color: var(--color-grey-1);
  border-radius: var(--border-radius);
}

.content {
  height: auto;
  overflow: hidden;

  &[hidden] {
    display: block;
    height: 0;
  }
}

slot {
  display: block;
  padding: 0 0 var(--units-2);
}

button {
  @include ts-action;
  width: 100%;
  border: 0;
  padding: var(--units-2) 0;
  background-color: transparent;
  
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--units-2);
  
  text-align: left;

  cursor: pointer;
}
