@use './../../scss/font/sizes-new' as *;
@use './../../scss/media-query' as *;

:host {
  @include ts-action;
  display: inline-block;
  padding: var(--units-2);
  border: 1px dotted var(--color-red);
  border-radius: var(--border-radius);
  
  @include mq(m) {
    margin: var(--units-2);
  }
}

:host([fancy]) {
  @include ts-headline-5;
  background: linear-gradient(140deg, aqua, aquamarine);
  color: var(--color-blue);
}
