import { LitElement, html } from 'lit';
import CSS from './{{name}}.scss';

export class DSB{{pascalCase name}} extends LitElement {
  static get styles() {
    return [CSS];
  }

  static get properties() {
    return {
      headline: { type: String },
      fancy: { type: Boolean, reflect: true },
    };
  }

  constructor() {
    super();
    this.headline = 'Default headline';
    this.fancy = false;
  }

  render() {
    return html`<p>
      My new {{name}}. With a ${this.headline}. And <slot></slot>
    </p>`;
  }
}

customElements.define('dsb-{{name}}', DSB{{pascalCase name}});
