import { html } from 'lit-html';

import { Footer } from '../../components/footer/footer.html';

export default {
  title: 'Pages/{{titleCase name}}'
};

export const Default = () => html`
<div>
  [default content]

  ${Footer()}
</div>
`;
