# `<dsb-{{name}}>`

Text about the component

## Example

```html
<dsb-{{name}}></dsb-{{name}}>
```

## Api

### Properties/Attributes

| Name    | Type      | default | Description     |
| ------- | --------- | ------- | --------------- |
| `fancy` | `boolean` | `false` | Makes it cooler |

### Slots

| Name      | Description |
| --------- | :---------- |
| `named`   | About       |
| _default_ | About       |

### CSS Custom Properties

| Name     | Default | Description |
| -------- | ------- | ----------- |
| `--prop` | `none`  | About       |
