import { html } from 'lit';
import readme from './README.md';
import './{{name}}.js';

export default {
  title: 'Elements/{{titleCase name}}',
  parameters: {
    readme: {
      sidebar: readme,
    },
  },
};

export const {{pascalCase name}} = (args) => html`
  <dsb-{{name}} .fancy=${args.fancy}>Slot content</dsb-{{name}}>
`;

{{pascalCase name}}.args = {
  fancy: false,
};
