@use './../../scss/font/sizes-new' as *;
@use './../../scss/elements/variables' as *;
@use './../../scss/sizing/spacing' as *;
@use './../../scss/media-query' as *;
@use './../../scss/settings/z-index' as *;

.badge {
  display: flex;
  justify-content: flex-end;

  z-index: get-z('badge');

  pointer-events: none;

  .dot {
    background-color: var(--badge-background-color, var(--color-red));
    color: var(--badge-color, var(--color-white));
    font-family: var(--font-primary);
    border-radius: 50%;
  }

  .inner {
    display: grid;
    position: relative;
    padding: var(--units-2);

    place-items: center;

    min-width: var(--units-7);
    box-sizing: border-box;

    @include mq($from: s) {
      min-width: var(--units-8);
    }

    @include mq($from: l) {
      min-width: var(--units-9);
    }

    &:before {
      // for apsect ratio
      content: '';
      display: block;
      padding-bottom: 100%;
      grid-area: 1 / 1 / 2 / 2;
    }
  }

  .content {
    display: grid;
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;
    place-items: center;

    * {
      margin: 0;
      line-height: 1;
    }
  }

  .label {
    @include ts-mini;
  }

  .text {
    @include ts-headline-3;
  }

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }

  &.white {
    .dot {
      background-color: var(--badge-background-color, var(--color-white));
      color: var(--badge-color, var(--color-black));
    }
  }
}
