@use './../../variables' as *;
@use './../../scss/media-query' as *;
@use './../../scss/grid/grid' as *;

:host {
  --split-wide-column: 50%; // calc(50% + #{cols(1)} / 2);

  display: block;
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 cols(1);
  box-sizing: border-box;
}

:host([inverted]) {
  .split {
    grid-template-columns: 1fr var(--split-wide-column);
  }

  .content {
    padding-left: cols(1);
    padding-right: 0;
  }

  .image {
    @include mq(m) {
      order: 1;
    }
  }
}

:host([contain]) {
  --object-fit: contain;
  --image-padding: #{cols(1)};
}

:host([background='grey']) {
  .split {
    background-color: var(--color-grey-1);
  }
}

.split {
  display: grid;
  grid-template-columns: 1fr;
  gap: cols(1);

  @include mq(m) {
    grid-template-columns: var(--split-wide-column) 1fr;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: cols(2) cols(1);
  padding-left: 0;
}

.image {
  position: relative;
  display: flex;
}
