@use './../../scss' as *;

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;

  &--padding {
    background-size: contain;
    background-repeat: no-repeat;
    margin: units(3);
    width: calc(100% - #{units(3) * 2});
    height: calc(100% - #{units(3) * 2});

    @include mq($from: m) {
      margin: units(4);
      width: calc(100% - #{units(4) * 2});
      height: calc(100% - #{units(4) * 2});
    }

    @include mq($from: l) {
      margin: units(5);
      width: calc(100% - #{units(5) * 2});
      height: calc(100% - #{units(5) * 2});
    }
  }
}
