@use './sizes-new.scss' as *;

/**
*
*/
.ts-action {
  @include ts-action;
}

/**
*
*/
.ts-headline-1 {
  @include ts-headline-1;
}

/**
*
*/
.ts-headline-2 {
  @include ts-headline-2;
}

/**
*
*/
.ts-headline-3 {
  @include ts-headline-3;
}

/**
*
*/
.ts-headline-4 {
  @include ts-headline-4;
}

/**
*
*/
.ts-headline-5 {
  @include ts-headline-5;
}

/**
*
*/
.ts-mini {
  @include ts-mini;
}

/**
*
*/
.ts-hero {
  @include ts-hero;
}

/**
*
*/
.ts-component {
  @include ts-component;
}

/**
*
*/
.ts-standard {
  @include ts-standard;
}

/**
*
*/
.ts-trumpet {
  @include ts-trumpet;
}

/**
*
*/
.ts-bold {
  font-weight: bold;
}
