/**
 * This file is NOT funneled through the font/index.scss,
 * but imported directly by the src/index.scss.
 *
 * Because this file should only be imported once in the project.
 */

/**
 * Imports
 */
@font-face {
  font-family: 'Via Office';
  src: url('../../../static/fonts/ViaOffice-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Via Office';
  src: url('../../../static/fonts/ViaOffice-Bold.otf');
  font-weight: bold;
}

// @font-face {
//     font-family: 'Helvetica Neue';
//     src: url(fonts/hhhhhhhhhhhhhhhhh.otf);
//     font-weight: normal;
// }
// @font-face {
//     font-family: 'Helvetica Neue';
//     src: url(fonts/hhhhhhhhhhhhhhhhh.otf);
//     font-weight: bold;
// }
