// @use 'face' as *;

/**
 * Variables [private]
 */
$_display: 'Via Office', sans-serif;
$_sans-serif: 'Helvetica Neue', sans-serif;

/**
* Map [private]
*/
$_typefaces: (
  display: $_display,
  sans-serif: $_sans-serif,
);

:root,
:host {
  --font-primary: 'Via Office', serif;
  --font-secondary: 'Helvetica Neue', sans-serif;
}

/**
 * Family
 *
 * Globally exposes the $_typefaces-map above
 * ex. @include font-family(sans-serif);
 */
@mixin family($face: sans-serif) {
  $type: map-get($_typefaces, $face);

  @if (type-of($type) ==map) {
    font-family: map-get($type, font-family);

    @if map-has-key($type, color) {
      color: map-get($type, color);
    }
  }

  @if (type-of($type) ==list) {
    font-family: $type;
  }
}
