@use './../../scss/media-query/index.scss' as *;
@use './family.scss' as *;

@mixin ts-base {
  font-family: var(--font-family, --font-secondary);
  font-size: var(--font-size, 16px);
  line-height: var(--line-height, 20px);
  font-weight: var(--font-weight, normal);
  letter-spacing: var(--letter-spacing, 0);
  // margin: 0;
}

@mixin ts-action {
  --font-family: var(--font-primary);
  --font-size: 16px;
  --line-height: 28px;
  --font-weight: bold;

  @include ts-base;

  @include mq(xl) {
    --font-size: 18px;
    --line-height: 30px;
  }
}

@mixin ts-headline-1 {
  --font-family: var(--font-primary);
  --font-size: 32px;
  --line-height: 42px;
  --font-weight: bold;

  @include ts-base;

  max-width: 12em;

  @include mq(s) {
    --font-size: 38px;
    --line-height: 48px;
  }

  @include mq(l) {
    --font-size: 60px;
    --line-height: 74px;
  }

  @include mq(xl) {
    --font-size: 80px;
    --line-height: 100px;
  }
}

@mixin ts-headline-2 {
  --font-family: var(--font-primary);
  --font-size: 32px;
  --line-height: 42px;
  --font-weight: bold;

  @include ts-base;

  max-width: 12em;

  @include mq(l) {
    --font-size: 45px;
    --line-height: 58px;
  }

  @include mq(xl) {
    --font-size: 55px;
    --line-height: 70px;
  }
}

/**
*
*/
@mixin ts-headline-3 {
  --font-family: var(--font-primary);
  --font-weight: bold;
  --font-size: 22px;
  --line-height: 32px;

  @include ts-base;

  @include mq(s) {
    --font-size: 24px;
    --line-height: 34px;
  }

  @include mq(l) {
    --font-size: 32px;
    --line-height: 42px;
  }

  @include mq(xl) {
    --font-size: 36px;
    --line-height: 48px;
  }
}

/**
*
*/
@mixin ts-headline-4 {
  --font-family: var(--font-primary);
  --font-size: 22px;
  --line-height: 32px;
  --font-weight: bold;

  @include ts-base;

  @include mq(s) {
    --font-size: 20px;
    --line-height: 30px;
  }

  @include mq(m) {
    --font-size: 22px;
    --line-height: 32px;
  }

  @include mq(l) {
    --font-size: 28px;
    --line-height: 38px;
  }

  @include mq(xl) {
    --font-size: 36px;
    --line-height: 48px;
  }
}

/**
*
*/
@mixin ts-headline-5 {
  --font-family: var(--font-primary);
  --font-size: 22px;
  --line-height: 32px;

  @include ts-base;

  max-width: 12em;

  @include mq(s) {
    --font-size: 20px;
    --line-height: 30px;
  }

  @include mq(m) {
    --font-size: 22px;
    --line-height: 32px;
  }

  @include mq(l) {
    --font-size: 24px;
    --line-height: 34px;
  }

  @include mq(xl) {
    --font-size: 32px;
    --line-height: 44px;
  }
}

/**
*
*/
@mixin ts-mini {
  --font-size: 12px;
  --font-family: var(--font-primary);
  --letter-spacing: 0.03em;
  --font-weight: 400;
  --line-height: 20px;

  @include ts-base;
}

/**
*
*/
@mixin ts-hero {
  --font-family: var(--font-secondary);
  --font-size: 18px;
  --font-weight: 300;
  --line-height: 30px;
  --letter-spacing: 0.04em;

  @include ts-base;

  max-width: 27em;

  @include mq(l) {
    --font-size: 22px;
    --line-height: 34px;
  }

  @include mq(xl) {
    --font-size: 26px;
    --line-height: 40px;
  }
}

/**
*
*/
@mixin ts-component {
  --font-family: var(--font-secondary);
  --font-size: 16px;
  --line-height: 28px;
  --letter-spacing: 0.03em;
  --font-weight: 300;

  @include ts-base;

  max-width: 35em;

  @include mq(l) {
    --font-size: 18px;
    --line-height: 30px;
  }
  @include mq(xl) {
    --font-size: 22px;
    --line-height: 36px;
  }
}

/**
*
*/
@mixin ts-standard {
  --font-family: var(--font-secondary);
  --font-size: 16px;
  --line-height: 28px;
  --font-weight: 300;
  --letter-spacing: 0.03em;

  @include ts-base;

  // max-width: 35em;

  @include mq(xl) {
    --font-size: 18px;
    --line-height: 30px;
  }
}

/**
*
*/
@mixin ts-trumpet {
  --font-family: var(--font-primary);
  --font-size: 18px;
  --line-height: 28px;
  --letter-spacing: 0.03em;

  @include ts-base;

  @include mq(l) {
    --font-size: 20px;
    --line-height: 30px;
  }

  @include mq(xl) {
    --font-size: 24px;
    --line-height: 34px;
  }
}
