@use 'sass:math';

/**
* Function
*
* returns a % that is the given ratio of 100%.
* good for quick padding-hacks on images f.e.
*/
@function aspect-ratio($width, $height) {
  @return math.div(100%, $width) * $height;
}

/**
* Mixin
*
* Creates a padding-hacked box of the target element.
* Element will expand if content is large.
* good for making link cards or tiles.
*/
@mixin aspect-ratio($width, $height) {
  &:before {
    content: '';
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: #{math.div($height, $width) * 100%};
  }

  &:after {
    /* to clear float */
    content: '';
    display: table;
    clear: both;
  }
}
