@use 'spacing' as *;

@for $i from 0 through $units-max {
  .m-#{$i} {
    margin: units($i);
  }
  .mt-#{$i} {
    margin-top: units($i);
  }
  .mb-#{$i} {
    margin-bottom: units($i);
  }
  .ml-#{$i} {
    margin-left: units($i);
  }
  .mr-#{$i} {
    margin-right: units($i);
  }
  .p-#{$i} {
    padding: units($i);
  }
  .pt-#{$i} {
    padding-top: units($i);
  }
  .pb-#{$i} {
    padding-bottom: units($i);
  }
  .pl-#{$i} {
    padding-left: units($i);
  }
  .pr-#{$i} {
    padding-right: units($i);
  }
}
