@use 'sass:math';

/**
 * Units
 *
 * return: 12 24 36 48 64 80 96 112 128px
 */
$units-max: 9;

@function units($n) {
  @if ($n <= 4) {
    @return $n * 12px;
  }

  @if ($n <= $units-max) {
    @return 16 * ($n - 2) + 16px;
  } @else {
    @warn 'Units-function takes an int between 1 and #{$units-max}';
    @return 128px;
  }
}

@for $i from 1 through $units-max {
  :root,
  :host {
    --units-#{$i}: #{units($i)};
  }
}

/**
 * Spacing
 *
 * return: 2 4 8 12 16 24 32 40 48px
 */
$spacing-max: 9;

@function spacing($n) {
  @if ($n < 4) {
    @return math.pow(2, $n) * 1px;
  }

  @if ($n == 4) {
    @return 12px;
  }

  @if ($n <= $spacing-max) {
    @return 8 * ($n - 4) + 8px;
  } @else {
    @warn 'Spacing-function takes an int between 1 and #{$spacing-max}';
    @return 48px;
  }
}

@for $i from 1 through $spacing-max {
  :root,
  :host {
    --spacing-#{$i}: #{spacing($i)};
  }
}

/**
 * Layout
 *
 * return: 16 24 32 48 64 96 160 224 288px
 */
$layout-max: 9;

@function layout($n) {
  @if ($n <= 3) {
    @return 8 * $n + 8px;
  }

  @if ($n <= 5) {
    @return 16 * ($n - 3) + 32px;
  }

  @if ($n <= $layout-max) {
    @return 64 * ($n - 5) + 32px;
  } @else {
    @warn 'Layout-function takes an int between 1 and 9';
    @return 288px;
  }
}

@for $i from 1 through $layout-max {
  :root,
  :host {
    --layout-#{$i}: #{layout($i)};
  }
}
