@use 'sass:math';
@use './../../scss' as *;

/**
* Returns an integer that will double every $row-length,
* while also increment 1/0 for even/odd $i
*
* Used in order to place the trigger/content in rows,
* and at the same time keep the correct tab-flow
*/
@function getOrderFromRowLength($row-length, $i) {
  /**
  * $row will increment * 2 every $row-length
  */
  $row: math.floor(math.div(($i - 1), ($row-length * 2))) * 2;
  $even-odd: -($i % 2) + 1; // 1/0 depending on even/odd
  $order: $even-odd + $row; // final order value

  @return $order;
}

.collapse-grid {
  expand-collapse {
    $max-card-amount: 24;

    display: flex;
    flex-wrap: wrap;

    /**
    * Layout the triggers and content so that they
    * are next to each other in the DOM,
    * but appears in separated rows on the screen.
    */
    @for $i from 1 through $max-card-amount {
      @include mq($from: s) {
        // rows of 2
        > *:nth-child(#{$i}) {
          order: getOrderFromRowLength(2, $i);
        }
      }

      @include mq($from: m) {
        // rows of 3
        > *:nth-child(#{$i}) {
          order: getOrderFromRowLength(3, $i);
        }
      }
    }
  }

  [data-trigger] {
    @include grid-cols($cols: 22);
    position: relative;
    display: flex;

    margin: 0 auto;
    margin-bottom: units(1);

    @include mq($from: s, $until: m) {
      // one item: (22cols / 2) - 1/2 margin
      width: calc(#{math.div(100%, $grid-col-count) * 22} / 2 - #{math.div(units(2), 2)});

      margin-right: units(2);
      margin-bottom: units(2);

      // used to center the elements when there's 1 & 2 elements
      // not yet in use, doesn't seem to work
      // &:first-of-type {
      //   margin-left: auto;
      // }

      // &:last-of-type {
      //   margin-right: auto;
      // }

      // remove margin from last item of each row...
      &:nth-of-type(2n - 1) {
        margin-left: grid-cols($cols: 1);
      }

      &:nth-of-type(2n) {
        margin-right: grid-cols($cols: 1);
      }
    }

    @include mq($from: m) {
      // one item width: (20cols / 3) - 2/3 margin
      width: calc(#{math.div(100%, $grid-col-count) * 20} / 3 - #{units(3) * math.div(2, 3)});

      margin-right: units(3);
      margin-bottom: units(3);

      &:nth-of-type(3n - 2) {
        margin-left: grid-cols($cols: 2);
      }

      &:nth-of-type(3n) {
        margin-right: grid-cols($cols: 2);
      }
    }

    @include mq($from: $page) {
      width: calc(#{math.div($page, $grid-col-count) * 20} / 3 - #{units(3) * math.div(2, 3)});

      &:nth-of-type(3n - 2) {
        margin-left: grid-simulate-grid-cols($cols: 20);
      }

      &:nth-of-type(3n) {
        margin-right: grid-simulate-grid-cols($cols: 20);
      }
    }

    // the arrow in the top of expand-content,
    // placed here in order to keep the arrow in
    // the middle of the expand-trigger.
    &:after {
      opacity: 0;

      content: '';
      position: absolute;
      border: 5px solid transparent;
      border-bottom-color: $color-grey-1;
      left: 50%;
      transform: translateX(-50%);

      // mimic the content's margin,
      // to keep it snug with its top border
      bottom: units(1) * -1;

      @include mq($from: s) {
        border-width: 10px;
        bottom: units(2) * -1;
      }

      @include mq($from: m) {
        bottom: units(3) * -1;
      }
    }

    .card {
      height: 100%;

      // used for active-state
      &:after {
        transition: transform $ui-transition;
        transform: scaleX(0);
        transform-origin: left;

        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $color-red;
        border-radius: 0 0 $border-radius $border-radius;
      }
    }

    &[aria-expanded='true'] {
      // show red border on the card
      .card {
        &:after {
          transform: scaleX(1);
        }
      }

      // show little grey arrow in top of expand content
      &:after {
        opacity: 1;
      }
    }
  }

  [data-content] {
    position: relative;
    width: 100%;
    margin-bottom: units(1);

    @include mq($from: s) {
      margin-bottom: units(2);
    }

    @include mq($from: m) {
      margin-bottom: units(3);
    }
  }

  [data-close] {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin: units(2);
    margin-right: grid-cols($cols: 1);

    @include mq($from: m) {
      margin-right: grid-cols($cols: 2);
    }

    @include mq($from: $page) {
      margin-right: grid-simulate-grid-cols($cols: 20);
    }

    svg {
      fill: $color-red;
      width: units(1);
      height: units(1);

      @include mq($from: s) {
        width: units(2);
        height: units(2);
      }
    }
  }
}
