@use './../../scss/sizing/golden-ratio' as *;

li {
  font-weight: normal;
  list-style: none;
  
  > * {
    display: flex;
    align-items: center;
    gap: golden-ratio(1);

    &:before {
      color: var(--color-red);
      flex-shrink: 0;
      text-indent: 0;
    }
  }
}

.bullet {
  > *:before {
    content: '•';
  }
}

.check {
  --icon-color: var(--color-red);

  &:before {
    width: golden-ratio(1);
    height: golden-ratio(1);
    display: inline-flex;
    margin-right: 1.1em;
  }
}

.number {
  .index {
    font-family: var(--font-primary);
    color: var(--color-red);
    content: counter(list-counter);

    border: 1px solid currentColor;
    border-radius: 100px;
    width: golden-ratio(1);
    height: golden-ratio(1);

    display: inline-flex;
    justify-content: center;
    flex-shrink: 0;
  }
}
