@use '../color' as *;
@use '../font/sizes-new.scss' as *;
@use 'z-index' as *;

body {
  @include ts-standard;

  overflow-anchor: none; // makes the page follow the header-dropdowns on expansion (needed for chrome june -20)
  height: 100%;

  &:after {
    transition: opacity 0.7s;
    opacity: 0;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: get-z('dim');
    background-color: (--color-black);
    pointer-events: none;
  }

  &.is-dimmed {
    &:after {
      opacity: 0.8;
    }
  }

  &.is-fixed {
    overflow: hidden;
    user-select: none;
  }
}

::selection {
  background: #ccc;
}

img {
  max-width: 100%;
  object-fit: contain;
}

a {
  color: currentColor;
}

p {
  margin: 0;

  a {
    color: var(--color-red);
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
