@use './../../scss/sizing/golden-ratio' as *;
@use './../../scss/media-query' as *;
@use './../../scss/font/sizes-new' as *;

::slotted(h1),
::slotted(h2),
::slotted(h3),
::slotted(h4),
::slotted(h5),
::slotted(h6),
h1,
h2,
h3,
h4,
h5,
h6 {
  @include ts-headline-2;
  margin: 0 0 golden-ratio(0);

  @include mq($until: m) {
    max-width: 25em;
  }
}

::slotted(p),
p {
  @include ts-component;
  margin: 0 0 golden-ratio(1);

  @include mq($until: s) {
    display: none;
  }
}

::slotted(.trumpet),
.trumpet {
  @include ts-trumpet;
  display: block;
  margin-bottom: golden-ratio(0);
}

a {
  color: var(--link-color, var(--color-red));
}
