@use './../../scss/font/sizes-new' as *;
@use './../../scss/media-query' as *;
@use './../../scss/grid/grid' as *;
@use './../../variables' as *;

:host {
  --split-wide-column: 60%; // calc(60% + #{cols(1)} / 2);

  display: block;
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 cols(1);
  box-sizing: border-box;
}

.sixtyfourty {
  display: grid;
  grid-template-columns: 1fr;
  gap: cols(1);

  @include mq(m) {
    grid-template-columns: var(--split-wide-column) 1fr;
  }
}

