@use './../../scss/font/sizes-new' as *;
@use './../../scss/media-query' as *;
@use './../../scss/grid/grid' as *;

:host {
  display: block;
  box-sizing: border-box;

  @include mq(m) {
    padding: 0 cols(1);
  }
}

:host([background]) {
  .content {
    padding: var(--layout-5) cols(1);
  }
}

:host([background='red']) {
  .content {
    background-color: var(--color-red);
    color: var(--color-white);
  }
}

:host([background='blue']) {
  .content {
    background-color: var(--color-blue);
    color: var(--color-white);
  }
}

:host([background='grey']) {
  .content {
    background-color: var(--color-grey-1);
  }
}

.headline {
  display: flex;
  flex-direction: column;
  place-items: flex-start;
  gap: var(--units-2);

  @include mq(m) {
    gap: var(--units-4);
  }
}

.content {
  display: grid;
  box-sizing: border-box;
  gap: var(--units-2);
  padding: 0 cols(1);

  @include mq(s) {
    grid-template-columns: 40% calc(60% - #{cols(1)});
  }
}

h2  {
  @include ts-headline-5;
  margin: 0;
}
