@use '../../scss' as *;

[data-trigger] {
  @include outline($on: ':focus-visible');
}

expand-collapse {
  &[data-content],
  [data-content] {
    transition: max-height $ui-transition;
    overflow: hidden;
    max-height: 0;
  }

  // when element is also content
  &[data-content] {
    display: block;
  }

  [data-close] {
    @include outline($on: ':focus-visible');
  }

  &[data-slow] {
    &[data-content],
    [data-content] {
      transition-duration: 0.7s;
    }
  }
}
