@use '../../scss' as *;

mobile-hide {
  position: sticky;
  top: 0;
  display: block;

  // set on/off by javascript.
  // on small screens,
  // when 'opening' the form we want a transition,
  // but when scrolling, there should be none
  &.is-smooth {
    transition: top $header-transition, z-index $header-transition;
  }
}
