@use './../../scss/font/sizes-new' as *;
@use './../../scss/media-query' as *;
@use './../../scss/sizing/golden-ratio' as *;
@use './../../scss/sizing/aspect-ratio' as *;
@use './../../scss/grid/grid' as *;
@use './../../scss/sizing/spacing' as *;
@use './../../scss/color/gradient' as *;
@use './../../scss/settings/z-index' as *;


section {
  position: relative;
}

:host {
  .text {
    @include ts-hero;
    margin-top: 0;
    margin-bottom: golden-ratio(1);

    a {
      color: var(--color-white);
    }
  }

  @include mq($until: m) {
    color: var(--color-black);
    .text {
      a{
        color: var(--color-red);
      }
    }
  }
}

:host([variant='split']) {
  color: var(--color-black);
  .text {
    color: var(--color-white);

    a{
      color: var(--color-white);
    }
  }

  .text-container {

    @include mq(m) {
      color: var(--color-white);
    }
    @include mq($until: m) {
      --button-background: var(--color-red);
      --button-color: var(--color-white);
      .text,
      .headline,
      .trumpet {
        color: var(--color-black);
        a {
          color: var(--color-red);
        }
      }
    }
  }

}

:host([variant='full']) {
  color: var(--color-black);

  .breadcrumbs {
    padding-top: var(--header-show-headline-expanded);
  }

  @include mq(m) {
    color: var(--color-white);

    .content {
      position: relative;
      grid-template-columns: 1fr 0;
    }

    .image {
      position: absolute;
      left: 0;
      right: 0;
      height: 100%;
      z-index: 0;

      &:after {
        content: '';
        background: eased-gradient($from: left, $strength: 2);
        position: absolute;
        inset: 0;
      }
    }

    .text-container {
      position: relative;
      z-index: 1;
    }
  }

  .text-container {
    @include mq($until: m) {
      --button-background: var(--color-red);
      --button-color: var(--color-white);
    }
  }
}

:host([variant='sub']) {
  color: var(--color-white);

  .background {
    --position: 100%;
    overflow: hidden;
  }

  .image div {
    inset: 0px;
    position: absolute;
  }

  .content {
    position: relative;
    grid-template-columns: 1fr 0;
  }

  .text-container {
    @include mq($until: m) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.deck {
  box-sizing: border-box;
  padding: 0 cols(1);
  max-width: var(--page-width);
  margin: 0 auto;
}

.badge {
  position: absolute;
  padding-top: cols(1);
  right: cols(2);
  z-index: get-z('badge');
}

.background {
  --position: 50%;
  background: linear-gradient(var(--color-red) var(--position), transparent 0);
  width: 101%;
  height: 101%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  @include mq(m) {
    background: var(--color-red);
  }

  .image {
    position: absolute;
    inset: 0;

    &:after {
      content: '';
      background: eased-gradient($from: left, $strength: 2);
      position: absolute;
      inset: 0;
    }
  }

  &:after {
    content: '';
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 103"><path fill="%23FFFFFF" fill-rule="evenodd" d="M0 39.27L239.06 83.6a400 400 0 00103.51 5.53l1.8-.14L1440 0v102.9H0V39.27z"/></svg>');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 101%; // small safety margin

    position: absolute;
    top: 0;
    width: 100%;
    height: calc(var(--position) + 2px);
    pointer-events: none;

    @include mq(m) {
      height: calc(100% + 2px);
    }
  }
}

.breadcrumbs {
  // position: absolute;
  z-index: 1;
  padding-top: var(--header-no-headline-expanded);

  @include mq(m) {
    margin-left: cols(1);
    // position: relative;
  }
}

.content {
  display: grid;
  grid-template-rows: auto auto;

  @include mq(m) {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    gap: units(1);
  }
}

.image {
  position: relative;

  > div {
    position: relative;
    width: 100%;
    padding-bottom: aspect-ratio(4, 3);

    @include mq(m) {
      height: 100%;
      padding-bottom: 0;
    }
  }
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trumpet {
  @include ts-trumpet;
  margin-top: 0;
  margin-bottom: golden-ratio(0);
}

.headline {
  @include ts-headline-1;
  margin-top: 0;
  margin-bottom: golden-ratio(0);
}

.text-container {
  max-width: 100%;
  z-index: get-z('content');

  padding: 0 cols(1);
  text-align: left;
  margin: layout(3) 0 layout(5);

  @include mq($until: m) {
    order: 1;
  }

  @include mq(s) {
    text-align: left;
    padding: layout(3) cols(1) layout(6) cols(1);
  }

  @include mq(m) {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding-top: layout(5);
    padding-bottom: layout(7);
  }
}
