@use 'definitions' as *;

/**
 * Background classes
 */
.bg--red {
  background-color: var(--color-red);
  color: var(--color-white);
}

.bg--blue {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.bg--grey {
  background-color: var(--color-grey-1);
  color: var(--color-black);
}

.bg--darkgrey {
  background-color: var(--color-grey-3);
  color: var(--color-white);
}

/**
* Good for assuring good contrast between content and background
*
* @include color-is-dark-bg {
*   color: $color-white;
* }
*/
@mixin is-dark-bg {
  .bg--red &,
  .bg--blue &,
  .bg--darkgrey & {
    @content;
  }
}

@mixin is-light-bg {
  .bg--grey &,
  &.bg--grey {
    @content;
  }
}

@mixin has-bg {
  .bg--red &,
  .bg--blue &,
  .bg--grey &,
  .bg--darkgrey &,
  &.bg--red,
  &.bg--blue,
  &.bg--grey,
  &.bg--darkgrey {
    @content;
  }
}
