/**
 * Palette colors
 */
$red: #b41730;
$dark-red: #9d152c; // not official
$blue: #00233c;

:host,
:root {
  --color-red: #b41730;
  --color-dark-red: #9d152c; // not official
  --color-blue: #00233c;
}

/**
 * Gray scale
 *
 * Higher number, darker color
 */
$white: #fff;
$grey-1: #eeeff0;
$grey-2: #ccc;
$grey-3: #4c4c4c;
$black: #111;

:host,
:root {
  --color-white: #fff;
  --color-grey-1: #eeeff0;
  --color-grey-2: #ccc;
  --color-grey-3: #4c4c4c;
  --color-black: #111;
}
