/**
 * Gradient
 *
 * returns a smooth gradient from black to transparent, with opacity.
 */
// [fix this] should be based on an equation with a loop
@function eased-gradient($from, $strength: 2) {
  @if $strength == 1 {
    @return linear-gradient(
      to $from,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.004) 4.4%,
      hsla(0, 0%, 0%, 0.016) 9.5%,
      hsla(0, 0%, 0%, 0.034) 15.2%,
      hsla(0, 0%, 0%, 0.058) 21.5%,
      hsla(0, 0%, 0%, 0.086) 28.1%,
      hsla(0, 0%, 0%, 0.116) 35.2%,
      hsla(0, 0%, 0%, 0.149) 42.5%,
      hsla(0, 0%, 0%, 0.181) 50%,
      hsla(0, 0%, 0%, 0.214) 57.6%,
      hsla(0, 0%, 0%, 0.244) 65.2%,
      hsla(0, 0%, 0%, 0.272) 72.7%,
      hsla(0, 0%, 0%, 0.296) 80%,
      hsla(0, 0%, 0%, 0.314) 87.1%,
      hsla(0, 0%, 0%, 0.326) 93.7%,
      hsla(0, 0%, 0%, 0.33) 100%
    );
  }
  @if $strength == 2 {
    @return linear-gradient(
      to $from,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.006) 4.4%,
      hsla(0, 0%, 0%, 0.024) 9.5%,
      hsla(0, 0%, 0%, 0.052) 15.2%,
      hsla(0, 0%, 0%, 0.088) 21.5%,
      hsla(0, 0%, 0%, 0.13) 28.1%,
      hsla(0, 0%, 0%, 0.176) 35.2%,
      hsla(0, 0%, 0%, 0.225) 42.5%,
      hsla(0, 0%, 0%, 0.275) 50%,
      hsla(0, 0%, 0%, 0.324) 57.6%,
      hsla(0, 0%, 0%, 0.37) 65.2%,
      hsla(0, 0%, 0%, 0.412) 72.7%,
      hsla(0, 0%, 0%, 0.448) 80%,
      hsla(0, 0%, 0%, 0.476) 87.1%,
      hsla(0, 0%, 0%, 0.494) 93.7%,
      hsla(0, 0%, 0%, 0.5) 100%
    );
  }
  @return linear-gradient(
    to $from,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.011) 4.4%,
    hsla(0, 0%, 0%, 0.041) 9.5%,
    hsla(0, 0%, 0%, 0.088) 15.2%,
    hsla(0, 0%, 0%, 0.149) 21.5%,
    hsla(0, 0%, 0%, 0.22) 28.1%,
    hsla(0, 0%, 0%, 0.299) 35.2%,
    hsla(0, 0%, 0%, 0.383) 42.5%,
    hsla(0, 0%, 0%, 0.467) 50%,
    hsla(0, 0%, 0%, 0.551) 57.6%,
    hsla(0, 0%, 0%, 0.63) 65.2%,
    hsla(0, 0%, 0%, 0.701) 72.7%,
    hsla(0, 0%, 0%, 0.762) 80%,
    hsla(0, 0%, 0%, 0.809) 87.1%,
    hsla(0, 0%, 0%, 0.839) 93.7%,
    hsla(0, 0%, 0%, 0.85) 100%
  );
}
