@use './../../scss/media-query' as *;
@use './../../scss/grid/grid' as *;
@use './../../variables' as *;
@use './../../scss/layout/classes.scss' as *;

:host {

  .deck {
    @include mq($until: m) {
      border-top: 1px solid var(--color-grey-1);
      border-bottom: 1px solid var(--color-grey-1);
    }

    &__content {
      display: grid;
      place-content: space-between;
      grid-auto-flow: column;
      grid-gap: 1px;

      @include mq($until: m) {
        grid-auto-flow: row;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
