@use './../../scss/sizing/aspect-ratio' as *;
@use './../../scss/sizing/spacing' as *;
@use './../../scss/media-query' as *;
@use './../../scss/color/gradient' as *;

:host {
  position: relative;
  display: inline-block;
  // height: inherit;
  height: -webkit-fill-available;
  width: 100%;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: get-z('image-block-gradient');

  &.top {
    background: eased-gradient($from: top, $strength: 2);
  }

  &.right {
    background: eased-gradient($from: right, $strength: 2);
  }

  &.bottom {
    background: eased-gradient($from: bottom, $strength: 3);
  }

  &.left {
    background: eased-gradient($from: left, $strength: 3);
  }
}

.container,
.box {
  display: flex;
  height: inherit;
  width: inherit;
}

.aspect {
  --aspect-0: var(--aspect-x, 16);
  --aspect-1: var(--aspect-y, 9);
  padding-bottom: calc(100% / var(--aspect-0) * var(--aspect-1));

  img,
  .image {
    position: absolute;
  }
}

.image {
  background-size: var(--object-fit, cover);
  background-position: center;
  background-repeat: no-repeat;
}

img,
.image {
  width: 100%;
  height: 100%;
  object-fit: var(--object-fit, cover);
}

img {
  padding: var(--image-padding, 0);
  box-sizing: border-box;
}

slot {
  display: block;
  position: absolute;
  padding: units(2) units(2) 0;

  z-index: 1;

  @include mq(m) {
    padding: units(3) units(3) 0;
  }

  &[name='right'] {
    right: 0;
  }
}
