@use '../../scss' as *;

[data-trigger] {
  @include outline($on: ':focus-visible');
}

fly-out {
  &[data-content],
  [data-content] {
    position: fixed;
    top: 0;
    right: 0;
    transition: transform $ui-transition;
    transform: translateY(-100%);

    z-index: get-z('fly-out');

    &.is-open {
      transform: translateY(0);
    }

    /**
    * overwrite 'display: none' so the element can be transitioned
    */
    &[hidden] {
      display: block;
    }
  }

  // when element is also content
  &[data-content] {
    display: block;
  }

  [data-close] {
    @include outline($on: ':focus-visible');
  }

  &[data-slow] {
    &[data-content],
    [data-content] {
      transition-duration: 0.7s;
    }
  }
}
