@use './../../scss/font/sizes-new' as *;
@use './../../scss/sizing/spacing' as *;

.cta {
  display: inline-flex;
  align-items: center;

  text-align: left;
}

.main {
  margin-right: spacing(5);
}

.action {
  @include ts-action;
  margin: 0;
}

.label {
  padding-right: spacing(5);
  border-right: 1px solid;
}

.info-container {
  display: flex;
  align-items: center;
}

.info {
  @include ts-hero;
  
  --font-weight: bold;
  
  margin: 0;
  margin-top: -0.2em;
}

.mini {
  @include ts-mini;
  margin: 0;
  margin-right: spacing(3);
}
