/**
 * MQ-Breakpoints
 *
 * The project's different breakpoints
 */
$dsb-breakpoints: (
  s: 600px,
  m: 900px,
  l: 1250px,
  xl: 1681px,
  // my 13" macbook is 1680 wide and it's nicer having 'breakpoint-l'
  max: 2320px,
);

:host,
:root {
  --dsb-breakpoints-s: 600px;
  --dsb-breakpoints-m: 900px;
  --dsb-breakpoints-l: 1250px;
  --dsb-breakpoints-xl: 1681px;
  --dsb-breakpoints-max: 2320px;
}
