@use './../../scss/sizing/spacing' as *;
@use './../../scss/sizing/golden-ratio' as *;
@use './../../scss/color/' as *;
@use './../../scss/elements/variables' as *;
@use './../../scss/font/sizes-new' as *;

:host {
  display: inline-block;
  width: 100%;

  div {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    padding: units(4) units(2);
    border-radius: var(--border-radius);
    background-color: var(--color-grey-1);

    text-align: left;
    // cursor: pointer;

    &:hover {
      dsb-icon {
        transform: translateX(0.25em);
      }
    }
  }

  .label {
    @include ts-mini;

    position: absolute;
    top: spacing(7);

    color: var(--color-red);
  }

  .title {
    --font-weight: bold;

    @include ts-trumpet;

    display: flex;
    align-items: center;
    gap: golden-ratio(0);
    margin-top: 0;
    margin-bottom: golden-ratio(0);
    width: fit-content;

    dsb-icon {
      --size: 1em;

      transition: transform 0.1s;
      color: var(--color-red);

      flex-shrink: 0;
      margin-bottom: 0.15em; // vertical alignment
    }
  }

  .text {
    @include ts-standard;
    margin: 0;
  }
}
