@use './../../scss/settings/z-index' as *;

:host {
  display: inline-flex;
}

aside {
  transition: var(--flyout-transition);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 50vh;
  
  z-index: get-z('fly-out');
  
  background-color: var(--color-red);
  color: var(--color-white);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &[hidden] {
    display: flex;
    transform: translateY(-100%);

    + .backdrop {
      opacity: 0;
    }
  }
}

.backdrop {
  transition: opacity 0.6s var(--ease-in-out-quint);
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  pointer-events: none;
}

.close-button {
  --icon-size: var(--units-2);
  position: absolute;
  right: 0;
  top: 0;
  padding: var(--icon-size);
}
