@use './../../scss/media-query' as *;
@use './../../scss/visual-aid/outline' as *;
@use './../../scss/visual-aid/underline' as *;
@use './../../scss/sizing' as *;
@use './../../scss/font/sizes-new' as *;
@use './../../scss/sizing/golden-ratio' as *;

:host {
  @include ts-component;
  --font-family: var(--font-primary);
  --icon-size: 3em;

  display: inline-block;

  @include mq(m) {
    --icon-size: 2.5em;
  }
}

:host([mini]) {
  @include ts-mini;
  --icon-size: 1em;

  @include mq(m) {
    --icon-size: 1em;
  }
}

:host([inline]) {
  .content {
    grid-auto-flow: column;
    padding: 0;
  }

  a {
    white-space: nowrap;
    outline: 0;
    color: currentColor;
  }
}

:host([arrow]) {
  --icon-size: 1em;
  --icon-color: var(--color-red);
  color: var(--color-black);

  dsb-icon {
    transition: transform 0.2s var(--ease-in-out);
  }

  a:hover {
    span {
      background: none;
    }

    dsb-icon {
      transform: translateX(0.25em);
    }
  }
}

:host:not([inline]) {
  color: var(--color-blue);
}

:host([fill-space]) {
  @include mq($until: m) {
    width: 100%;
    height: 100%;
  }
}

a {
  @include outline($on: ':focus-visible');
  @include underline($on: ':hover', $target: 'span');

  text-decoration: none;
  text-align: center;
  color: var(--color-blue);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  outline: 1px solid var(--color-grey-1);

  @include mq(m) {
    text-align: left;
    outline: 0;
  }
}

// &--primary {
//   @include mq($until: s) {
//     // @include font-typeset(headline-3);
//     order: 5;

//     width: 100%;
//   }
// }

.content {
  display: inline-grid;
  grid-auto-flow: row;
  gap: golden-ratio(0);
  place-items: center;

  padding: spacing(8) spacing(5);

  width: fit-content;

  @include mq(m) {
    padding: 0;
    grid-auto-flow: column;
    text-align: left;
  }
}
