@use './../media-query' as *;
@use './../grid/grid' as *;
@use './../color/classes' as *;

.split {
  display: grid;
  grid-template-columns: 1fr;
  gap: cols(1);

  @include mq(m) {
    grid-template-columns: repeat(2, 1fr);
  }

  &.uneven {
    @include mq(m) {
      --gap: #{cols(1)};
      grid-template-columns: calc(60% - var(--gap)) 40%;
    }
  }
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.deck {
  width: 100%;
  min-height: inherit;
  margin-bottom: var(--layout-4);
  box-sizing: border-box;

  @include mq(m) {
    margin-bottom: var(--layout-6);
  }

  @include mq(l) {
    margin-bottom: var(--layout-7);
  }

  @include mq(max) {
    margin-bottom: var(--layout-8);
  }

  @include has-bg {
    padding-top: var(--layout-4);
    padding-bottom: var(--layout-4);

    @include mq(m) {
      padding-top: var(--layout-5);
      padding-bottom: var(--layout-5);
    }

    @include mq(l) {
      padding-top: var(--layout-6);
      padding-bottom: var(--layout-6);
    }

    @include mq(max) {
      padding-top: var(--layout-7);
      padding-bottom: var(--layout-7);
    }
  }

  &--collapse {
    margin-bottom: 0;
  }
}

.page-width {
  max-width: var(--page-width);
  margin-left: auto;
  margin-right: auto;
}

.px-1-col {
  padding-left: cols(1);
  padding-right: cols(1);
}

.px-2-col {
  padding-left: cols(1);
  padding-right: cols(1);

  @include mq(m) {
    padding-left: cols(2);
    padding-right: cols(2);
  }
}

.px-2-col-m {
  @include mq(m) {
    padding-left: cols(2);
    padding-right: cols(2);
  }
}
