@use '../grid' as *;

/**
* Scroll-slide
* Makes its element layout its childred vertically, scrollable.
* $gutter: the space, in grid-cols, between the children
* $item-width: the width of each element
*/
@mixin scroll-slide($gutter: 1, $item-width: 75vw) {
  display: flex;
  align-items: flex-start;
  overflow: auto;

  > * {
    min-width: $item-width;
    max-width: 80vw;
    margin-right: 0;

    &:last-child {
      @include cols($prop: margin-right, $cols: $gutter);
    }
  }

  /**
  * Weird hack to make the last slide element's margin work,
  * without it the flex collapses it.
  */
  &:after {
    content: '';
    width: 1px;
    height: 1px;
    flex-shrink: 0;
  }
}
