@use './../../scss/sizing/spacing' as *;
@use './../../scss/media-query' as *;
@use './../../scss/grid/grid' as *;
@use './../../scss/font/sizes-new' as *;

:host {
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
  min-height: var(--units-6);
  padding: var(--units-1) cols(1);

  border-radius: var(--border-radius);

  background-color: var(--color-grey-1);

  @include mq(s) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

a {
  @include ts-action;

  color: var(--color-black);
  text-decoration: none;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;

  width: inherit;

  &:hover {
    dsb-icon {
      transform: translateX(var(--spacing-2));
    }
  }
}

div,
span {
  display: flex;
  align-items: center;
}

dsb-icon {
  transition: transform 0.2s var(--ease-in-out);
}

span {
  display: flex;
  gap: var(--units-1);
}

.right {
  --icon-color: var(--color-red);
}

.price {
  @include ts-headline-5;
  color: var(--color-red);
}

.mini {
  @include ts-mini;
}
