@use './../../variables' as *;
@use './../../scss/font/sizes-new' as *;
@use './../../scss/sizing/golden-ratio' as *;
@use './../../scss/visual-aid/outline' as *;

:host {
  display: inline-flex;
  cursor: pointer;
}

:host([round]) {
  button {
    border-radius: 1000px;
  }
}

button {
  @include ts-action;
  @include outline;
  border: 0;

  display: grid;
  grid-auto-flow: column;
  gap: golden-ratio(0);
  align-items: center;

  background-color: var(--icon-button-background-color, transparent);

  border-radius: var(--border-radius);
  padding: var(--icon-button-padding, 0);

  cursor: inherit;
  color: currentColor;
}

button:active {
  box-shadow: 0 0 0 1px var(--color-grey-1);
}
