@use './../../variables' as *;
@use './../../scss/font/sizes-new' as *;
@use './../../scss/settings/z-index' as *;
@use './../../scss/media-query' as *;
@use './../../scss/grid/grid' as *;

:host {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: get-z('header');

  background: var(--color-red);
  color: var(--color-white);

  display: grid;
  grid-auto-flow: column;
  grid-template-rows: calc(var(--dsb-header-height-collapsed) / 2) 1fr;

  box-sizing: border-box;
  padding: 0 cols(1);

  @include mq(m) {
    grid-template-rows: auto;
    grid-template-columns: 20% 1fr 20%;
    padding: 0 var(--units-2);
  }
}

.left {
  --icon-size: var(--units-4);

  position: relative;
  width: var(--icon-size);
  height: 100%;

  display: inline-flex;
  align-items: center;
  margin-right: auto;

  z-index: get-z('home-link');

  @include mq(s) {
    height: calc(var(--units-4) + var(--units-1) * 2);
  }

  &::slotted(*) {
    display: flex;
  }
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  &::slotted(*) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    @include mq(m) {
      max-width: cols(14);
    }

    @include mq(xl) {
      max-width: cols(10);
    }
  }
}

.right {
  --icon-size: var(--units-2);

  display: inline-grid;
  align-items: center;
  gap: var(--units-2);
  grid-auto-flow: column;
  height: 100%;

  margin-left: auto;

  @include mq(s) {
    height: calc(var(--units-4) + var(--units-1) * 2);
  }
}

.hide-on-mobile {
  display: flex;
  align-items: flex-end;
  overflow: hidden;

  grid-row: 2;
  grid-column: span 2;

  @include mq(m) {
    grid-row: 1;
    grid-column: span 1;
    min-height: var(--dsb-header-height-collapsed);
  }
}
