@use '../grid' as *;
@use '../sizing' as *;
@use '../color' as *;
@use './variables' as *;
@use '../media-query' as *;

/**
* Box
* Creates a grey box that can be used as a card or other UI element.
* Can have right and left content, for when you need an icon for example
*/
@mixin box {
  @include cols($prop: padding-left, $cols: 1);
  @include cols($prop: padding-right, $cols: 1);
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-shrink: 0;

  width: 100%;
  min-height: units(6);
  padding-top: units(1);
  padding-bottom: units(1);
  margin-bottom: units(1);

  border-radius: $border-radius;

  @include mq($from: s) {
    padding-top: 0;
    padding-bottom: 0;
  }

  @include is-dark-bg {
    .box-mixin {
      &__right {
        svg {
          fill: $white;
        }
      }
    }
  }

  @include is-light-bg {
    .box-mixin {
      &__right {
        svg {
          fill: $red;
        }
      }
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .box-mixin {
    &__left {
      svg {
        height: 1em;
        width: 1em;
        margin: 0 spacing(2);
        margin-bottom: -0.15em;

        @include mq($from: s) {
          margin: 0 units(1);
        }
      }
    }

    &__right {
      display: flex;
      align-items: center;
      margin-left: units(2);

      @include mq($from: s) {
        margin-left: units(3);
      }

      svg {
        height: golden-ratio(1);
        width: golden-ratio(1);
      }
    }
  }
}
