@use 'sass:map';
@use 'sass:math';

@use '../media-query' as *;

/**
 * font-sizes [private]
 *
 * Definitions of the responsive font sizes
 */
$_font-sizes: (
  h1: (
    base-font-size: default,
    default: (
      font-size: 32px,
      line-height: 42px,
    ),
    s: (
      font-size: 38px,
      line-height: 48px,
    ),
    l: (
      font-size: 60px,
      line-height: 74px,
    ),
    xl: (
      font-size: 80px,
      line-height: 100px,
    ),
  ),
  h2: (
    base-font-size: default,
    default: (
      font-size: 32px,
      line-height: 42px,
    ),
    l: (
      font-size: 45px,
      line-height: 58px,
    ),
    xl: (
      font-size: 55px,
      line-height: 70px,
    ),
  ),
  h3: (
    base-font-size: default,
    default: (
      font-size: 22px,
      line-height: 32px,
    ),
    s: (
      font-size: 24px,
      line-height: 34px,
    ),
    l: (
      font-size: 32px,
      line-height: 42px,
    ),
    xl: (
      font-size: 36px,
      line-height: 48px,
    ),
  ),
  h4: (
    base-font-size: default,
    default: (
      font-size: 22px,
      line-height: 32px,
    ),
    s: (
      font-size: 20px,
      line-height: 30px,
    ),
    m: (
      font-size: 22px,
      line-height: 32px,
    ),
    l: (
      font-size: 28px,
      line-height: 38px,
    ),
    xl: (
      font-size: 36px,
      line-height: 48px,
    ),
  ),
  h5: (
    base-font-size: default,
    default: (
      font-size: 22px,
      line-height: 32px,
    ),
    s: (
      font-size: 20px,
      line-height: 30px,
    ),
    m: (
      font-size: 22px,
      line-height: 32px,
    ),
    l: (
      font-size: 24px,
      line-height: 34px,
    ),
    xl: (
      font-size: 32px,
      line-height: 44px,
    ),
  ),
  hero-p: (
    base-font-size: default,
    default: (
      font-size: 18px,
      line-height: 30px,
    ),
    l: (
      font-size: 22px,
      line-height: 34px,
    ),
    xl: (
      font-size: 26px,
      line-height: 40px,
    ),
  ),
  component-p: (
    base-font-size: default,
    default: (
      font-size: 16px,
      line-height: 28px,
    ),
    l: (
      font-size: 18px,
      line-height: 30px,
    ),
    xl: (
      font-size: 22px,
      line-height: 36px,
    ),
  ),
  standard-p: (
    base-font-size: default,
    default: (
      font-size: 16px,
      line-height: 28px,
    ),
    xl: (
      font-size: 18px,
      line-height: 30px,
    ),
  ),
  trumpet: (
    base-font-size: default,
    default: (
      font-size: 18px,
      line-height: 28px,
    ),
    l: (
      font-size: 20px,
      line-height: 30px,
    ),
    xl: (
      font-size: 24px,
      line-height: 34px,
    ),
  ),
  mini: (
    base-font-size: default,
    default: (
      font-size: 12px,
    ),
  ),
);

/**
 * font-types [private]
 *
 * All the defined fonts, with name, weight, letter spacing and so on.
 * This is what's globally available in the project.
 */
$_font-types: (
  headline-1: (
    font-size: h1,
    font-weight: bold,
  ),
  headline-2: (
    font-size: h2,
    font-weight: bold,
  ),
  headline-3: (
    font-size: h3,
    font-weight: bold,
  ),
  headline-4: (
    font-size: h4,
    font-weight: bold,
  ),
  headline-5: (
    font-size: h5,
    letter-spacing: 0.01em,
  ),
  paragraph-hero: (
    font-size: hero-p,
    font-weight: 300,
    letter-spacing: 0.04em,
  ),
  paragraph-component: (
    font-size: component-p,
    font-weight: 300,
    letter-spacing: 0.03em,
  ),
  paragraph-standard: (
    font-size: standard-p,
    font-weight: 300,
    letter-spacing: 0.03em,
  ),
  trumpet: (
    font-size: trumpet,
    letter-spacing: 0.03em,
  ),
  mini: (
    font-size: mini,
    letter-spacing: 0.03em,
    font-weight: 400,
  ),
  action: (
    font-size: standard-p,
    font-weight: bold,
  ),
);

/* stylelint-disable */
@function _get-font-size($value) {
  $result: '';

  @if (type-of($value) ==number) {
    @if (unit($value) == '' or unit($value) == 'px') {
      $result: $value;
    } @else {
      $result: $value;
    }
  }

  @return $result;
}

@function _get-letter-space($value, $font-size) {
  $result: null;

  @if (type-of($value) ==number and type-of($font-size) ==number) {
    @if (unit($value) == 'px' and unit($font-size) == 'px') {
      $result: $value / $font-size * 1em;
    }

    @if (unit($value) == 'em' or unit($value) == 'rem') {
      $result: $value;
    }

    @if (unit($value) == '') {
      $result: $value * 1em;
    }
  }

  @return $result;
}

@function _get-line-height($line-height, $font-size) {
  $result: null;

  @if (type-of($line-height) ==number and type-of($font-size) ==number) {
    @if (unit($line-height) == 'px' and unit($font-size) == 'px') {
      $result: math.div($line-height, $font-size);
    }

    @if (
      unit($line-height) == 'px' and unit($font-size) == 'vw' or unit($font-size) == 'vh'
    ) {
      $result: math.div($line-height, $base-font-size);
    }

    @if (unit($line-height) == '') {
      $result: $line-height;
    }
  }

  @return $result;
}

/**
 * Typeset
 *
 * Globally exposes all the text-styles to the project
 * ex. @include font-typeset(headline-1);
 */
@mixin typeset($typestyle: paragraph-standard) {
  $type: map.get($_font-types, $typestyle);
  $responsive: false;
  $font-size: null;
  $font-map: null;
  $base-fs: null;
  $allowed-rules: (
    font-weight: true,
    font-style: true,
    text-transform: true,
    color: true,
  ) !default;

  // if default is there it's responsive
  @if ($type) {
    @if (map.get(map.get($_font-sizes, map.get($type, font-size)), default)) {
      $responsive: true;
      $font-map: map.get(
        map.get($_font-sizes, map.get($type, font-size)),
        default
      );
      $base-fs-map: map.get(
        map.get($_font-sizes, map.get($type, font-size)),
        base-font-size
      );
      $base-fs: map.get(
        map.get(map.get($_font-sizes, map.get($type, font-size)), $base-fs-map),
        font-size
      );
    } @else {
      $font-map: map.get($_font-sizes, map.get($type, font-size));
      $base-fs: map.get(
        map.get($_font-sizes, map.get($type, font-size)),
        font-size
      );
    }

    font-size: _get-font-size(map.get($font-map, font-size));

    @if map.has-key($font-map, line-height) {
      line-height: _get-line-height(map.get($font-map, line-height), $base-fs);
    }

    @if map.has-key($type, letter-spacing) {
      letter-spacing: _get-letter-space(
        map.get($type, letter-spacing),
        $base-fs
      );
    }

    @each $rule, $val in $type {
      @if map.has-key($allowed-rules, $rule) {
        #{$rule}: #{$val};
      }
    }
  } @else {
    @warn 'You have entered a typestyle: `#{$typestyle}`. It looks like it doesn\'t exist. Please check your $type-styles map';
  }

  @if ($responsive) {
    @each $break-point, $map in map.get($_font-sizes, map.get($type, font-size))
    {
      @if ($break-point !=default and $break-point !=base-font-size) {
        @include mq($from: #{$break-point}) {
          font-size: _get-font-size(map.get($map, font-size));

          @if map.has-key($map, line-height) {
            line-height: _get-line-height(
              map.get($map, line-height),
              map.get($map, font-size)
            );
          }
        }
      }
    }
  }
}
/* stylelint-enable */

// // todo - change to this solution?

// // note - $value gotta be named as the css property
// // i.e. 'font-family' of 'letter-spacing'
// @mixin if-defined($map, $value, $rem: false) {
//   @if map-get($map, $value) {
//     $value: map-get($map, $value);
//   }
// }

// @mixin get-font-style($style: 'default') {
//   $type-settings: map-get($typography-vars, $style);
//   @if $type-settings != null {
//     @include if-defined($type-settings, font-family);
//     @include if-defined($type-settings, font-size, $rem: true);
//     @include if-defined($type-settings, font-weight);
//     @include if-defined($type-settings, font-style);
//     @include if-defined($type-settings, text-transform);
//     @include if-defined($type-settings, letter-spacing, $rem: true);
//     @include if-defined($type-settings, text-decoration);

//     @if map-get($type-settings, line-height) {
//       line-height: (map-get($type-settings, line-height) / map-get($type-settings, size));
//     }
//     @else {
//       line-height: $default-lineheight;
//     }

//     $responsive: map-get($type-settings, responsive);
//     @if($responsive) {
//       @each $breakpoint, $options in $responsive {
//         @include mq($breakpoint) {
//           @include if-defined($options, font-size, $rem: true);
//           @include if-defined($options, letter-spacing);

//           @if (map-get($options, line-height)) {
//             line-height: map-get($options, line-height) / map-get($options, size);
//           }
//         }
//       }
//     }
//   }
// }
// @each $name, $type-settings in $typography-vars {
//   %t-#{$name} {
//     @include get-font-style($name);
//   }
// }

// $typography-vars: (
//   heading-1: (
//     font-family: $serif,
//     font-size: 35,
//     line-height: 42,
//     text-transform: uppercase,
//     font-weight: 400,
//     responsive: (
//       screen-sm: (
//         size: 35,
//       ),
//       screen-lg: (
//         size: 70,
//         lh: 84
//       )
//     )
//   )
// )
