@use './../../scss/font/sizes-new' as *;
@use './../../scss/sizing/aspect-ratio' as *;
@use './../../scss/sizing/golden-ratio' as *;
@use './../../scss/sizing/spacing' as *;
@use './../../scss/visual-aid/outline' as *;
@use './../../scss/color/gradient' as *;
@use './../../scss/media-query' as *;

a {
  @include outline($on: ':focus-visible');

  position: relative;
  display: block;

  color: var(--color-black);
  text-decoration: none;

  height: 100%;
}

.headline {
  @include ts-headline-3;
  margin-bottom: var(--units-1);

  display: flex;
  align-items: center;
  gap: golden-ratio(0);
}

dsb-icon {
  --size: 1.5em;
  color: var(--color-red);
}

.text {
  @include ts-component;
}

.content {
  margin-top: var(--units-2);
}

// hover
.content,
img {
  will-change: transform;
  transition: transform 0.7s var(--ease-in-out);
}

a:hover {
  img {
    transform: scale(1.05);
  }

  .content {
    transform: translateY(calc(var(--spacing-2) * -1));
  }
}

/**
* Overlap
*/
.overlap {
  position: relative;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  color: var(--color-white);

  dsb-icon {
    color: currentColor;
  }

  dsb-image-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 0;

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      background: eased-gradient($from: bottom);
    }
  }

  .content {
    position: relative;
    width: 100%;
    box-sizing: border-box;

    padding: 5%;

    z-index: get-z('content');

    @include mq($until: m) {
      margin-top: units(9);
    }
  }
}
