// $ease-in-out: cubic-bezier(0.75, 0, 0.6, 1);
$ease-in-out: cubic-bezier(0.25, 0.1, 0.25, 1);

:host,
:root {
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.flip-is-opening {
  overflow: hidden;
}

$ui-transition: 0.2s $ease-in-out;
$link-transition: 0.2s $ease-in-out;
$header-transition: 0.7s $ease-in-out;
