@use './../../scss/media-query' as *;

:host {
  display: inline-flex;
  position: relative;
  width: 100%;
}

.ui {
  --icon-button-background-color: var(--color-grey-3);
  --icon-color: var(--color-white);
  --icon-button-padding: var(--units-1);
  --icon-size: var(--units-2);
  
  position: absolute;
  left: var(--units-2);
  bottom: var(--units-2);
  
  display: flex;
  gap: var(--units-2);
  
  @include mq(m) {
    --icon-button-padding: var(--units-2);
    --icon-size: var(--units-3);
    left: var(--units-3);
    bottom: var(--units-3);
    gap: var(--units-3);
  }
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
