@use './../../scss/font/sizes-new' as *;
@use './../../scss/media-query' as *;

[hidden] {
  display: inline-block;
}

.hide-s {
  overflow: hidden;
  height: auto;

  :host([isopen='false']) & {
    @include mq($until: s) {
      height: 0;
    }
  }
}

.curtain-content {
  overflow: hidden;
  height: 0;

  hr {
    grid-column: 1 / -1;
    opacity: 0;
  }
}

:host {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--units-1) var(--units-1);
  align-items: center;
  // position: relative;

  width: 100%;

  @include mq(m) {
    grid-template-columns: repeat(4, 1fr);
  }
}

:host(.is-opening) {
  transition: margin-top 0.3s var(--ease-in-out-quint);
}

:host([isopen='true']) {
  .curtain-content {
    height: auto;
  }

  .backdrop {
    opacity: 1;
    pointer-events: auto;
  }
}

h1 {
  @include ts-trumpet;
  position: relative;
  grid-column: 1 / -1;
  text-align: center;
  margin: 0;

  @include mq(m) {
    padding-top: var(--units-2);
  }
}

slot {
  display: inline-block;
}

.curtain-content {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--units-2) var(--units-1);
  align-items: center;

  width: 100%;

  @include mq(m) {
    grid-column: span 4;
    grid-template-columns: repeat(4, 1fr);
  }
}

slot[name='one'],
slot[name='two'],
slot[name='three'] {
  grid-column: span 2;

  @include mq(s) {
    grid-column: span 1;
  }

  @include mq(m) {
    grid-column: span 2;
  }
}

.backdrop {
  transition: opacity 0.3s ease;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 100% 0 0;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
}
