@use './../../scss/font/sizes-new' as *;
@use './../../scss/sizing/golden-ratio' as *;
@use './../../scss/grid/grid' as *;
@use './../../scss/media-query' as *;

:host {
  display: grid;
  max-width: cols(22);
  margin: 0 auto;

  @include mq(s) {
    max-width: cols(20);
  }
}

h1 {
  @include ts-headline-5;
  max-width: 60rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: golden-ratio(1);
}
