a{
  outline:none;
  color:#b41730;
  text-decoration:underline;
}
a:hover{text-decoration:none!important;}
.h-u a{text-decoration:none;}
.h-u a:hover{text-decoration:underline!important;}
a[x-apple-data-detectors]{color:inherit!important; text-decoration:none!important;}
a[href^="tel"]:hover{text-decoration:none!important;}
.active-i a:hover,
.active-t:hover{opacity:0.8;}
.active-i a,
.active-t{transition:all 0.3s ease;}
a img{border:none;}
b, strong{font-weight:700;}
p{margin:0;}
th{padding:0;}
table td{mso-line-height-rule:exactly;}
.ns span, .ns a{color:inherit!important; text-decoration:none!important; border:none!important;}
.l-fff a{color:#fff;}
.btn-01 a{color:#fff; text-decoration:none; display:block; padding:7px 26px;}
.btn-02 a{color:#fff; text-decoration:none; display:block; padding:6px 24px;}
.btn-03 a{color:#fff; text-decoration:none; display:block; padding:6px 36px;}
@media only screen and (max-width:617px) {
  .w-100p{width:100%!important;}
  .tflex{display:block!important;width:100%!important;}
  .thold{display:table!important;width:100%!important;}
  .thead{display:table-header-group!important;width:100%!important;}
  .tfoot{display:table-footer-group!important;width:100%!important;}
  .hm{display:none!important;width:0!important;height:0!important;padding:0!important;font-size:0!important;line-height:0!important;}
  .w-a{width:auto!important;}
  .w-10{width:10px!important;}
  .w-55{width:55px!important;}
  .w-50p{width:50%!important;}
  .w-53p{width:53%!important;}
  .wi-100p img{width:100%!important;height:auto!important;}
  .maxw-225{max-width:225px!important;}
  .maxw-280{max-width:280px!important;}
  .plr-0{padding-left:0!important;padding-right:0!important;}
  .plr-15{padding-left:15px!important;padding-right:15px!important;}
  .plr-20{padding-left:20px!important;padding-right:20px!important;}
  .ptb-37{padding-top:37px!important;padding-bottom:37px!important;}
  .pl-15{padding-left:15px!important;}
  .pr-20{padding-right:20px!important;}
  .pr-30{padding-right:30px!important;}
  .pt-0{padding-top:0!important;}
  .pt-3{padding-top:3px!important;}
  .pt-8{padding-top:8px!important;}
  .pt-15{padding-top:15px!important;}
  .pt-25{padding-top:25px!important;}
  .pt-26{padding-top:26px!important;}
  .pt-35{padding-top:35px!important;}
  .pt-8p{padding-top:8%!important;}
  .pt-13p{padding-top:13%!important;}
  .pt-14p{padding-top:14%!important;}
  .pt-83p{padding-top:83%!important;}
  .pb-0{padding-bottom:0!important;}
  .pb-9{padding-bottom:9px!important;}
  .pb-11{padding-bottom:11px!important;}
  .pb-13{padding-bottom:13px!important;}
  .pb-14{padding-bottom:14px!important;}
  .pb-15{padding-bottom:15px!important;}
  .pb-18{padding-bottom:18px!important;}
  .pb-19{padding-bottom:19px!important;}
  .pb-23{padding-bottom:23px!important;}
  .pb-25{padding-bottom:25px!important;}
  .pb-28{padding-bottom:28px!important;}
  .pb-29{padding-bottom:29px!important;}
  .pb-30{padding-bottom:30px!important;}
  .pb-32{padding-bottom:32px!important;}
  .pb-33{padding-bottom:33px!important;}
  .pb-34{padding-bottom:34px!important;}
  .pb-37{padding-bottom:37px!important;}
  .pb-40{padding-bottom:40px!important;}
  .pb-7p{padding-bottom:7%!important;}
  .pb-10p{padding-bottom:10%!important;}
  .pb-14p{padding-bottom:14%!important;}
  .pb-15p{padding-bottom:15%!important;}
  .pb-17p{padding-bottom:17%!important;}
  .pb-18p{padding-bottom:18%!important;}
  .d-b{display:block!important;}

  .bg-01-m{background:#fffffe url(https://i.imgur.com/KanAPzE.png) no-repeat center bottom!important; background-size:cover!important;}
  .bg-02-m{background:#fffffe url(https://i.imgur.com/Tn8QRVE.png) no-repeat center bottom!important; background-size:cover!important;}
  .bg-03-m{background:#fffffe url(https://i.imgur.com/EJ8FzKj.png) no-repeat center bottom!important; background-size:cover!important;}
  .bg-04-m{background:#fffffe url(https://i.imgur.com/eQYxS5b.png) no-repeat center bottom!important; background-size:cover!important;}
  .bg-05-m{background:#fffffe url(https://i.imgur.com/zjY2SMo.png) no-repeat center bottom!important; background-size:cover!important;}
  .bg-06-m{background:#fffffe url(https://i.imgur.com/FUSlyWi.png) no-repeat center bottom!important; background-size:cover!important;}
  .bg-07-m{background:#fffffe url(https://i.imgur.com/tSS9l0l.png) no-repeat center bottom!important; background-size:cover!important;}
  .bg-08-m{background:#fffffe url(https://i.imgur.com/d6wOlWO.png) no-repeat center top!important; background-size:cover!important;}
}
@media only screen and (max-width:374px) {
  .w-40p-374{width:48%!important;}
  .w-30-374{width:30px!important;}
  .w-5-374{width:5px!important;}
  .plr-20-374{padding-right:20px!important; padding-left:20px!important;}
}
@media (prefers-dark-interface) {body{-apple-color-filter:none;}}
