@use './../../scss/font/sizes-new' as *;
@use './../../scss/grid/grid' as *;
@use './../../scss/media-query' as *;

:host {
  display: block;
  background-color: var(--color-grey-1);
}

footer {
  * {
    list-style: none;
  }
}

.top {
  display: grid;
  grid-template-columns: cols(2) 1fr;
  border-bottom: 1px solid var(--color-grey-2);
  padding: var(--units-5) cols(2);
  gap: cols(2);

  @include mq(s) {
    gap: cols(1);
    padding: var(--units-5) cols(1);
  }
}

.one {
  @include mq(s) {
    grid-column: span 2;
  }
}

slot[name='one']::slotted(li) {
  padding-bottom: var(--units-1);

  @include mq(s) {
    padding-bottom: var(--units-2);
  }
}

.two {
  @include ts-trumpet;
}

slot[name='two']::slotted(li) {
  padding-bottom: var(--units-1);
}

.three {
  @include ts-trumpet;
  padding-bottom: var(--units-4);
}

.four {
  color: var(--color-black);
}

.body {
  display: grid;
  padding-bottom: var(--layout-6);
  gap: cols(1);

  @include mq(s) {
    grid-auto-flow: column;
    grid-template-columns: cols(10) 1fr;
    grid-template-rows: auto auto;
  }

  @include mq(m) {
    grid-template-rows: auto;
    grid-template-columns: 1fr cols(5) cols(5);
  }

  @include mq(l) {
    grid-template-columns: 1fr cols(6) cols(6);
    gap: 0;
  }
}

.bottom {
  @include ts-mini;
  display: grid;
  padding: var(--units-3) 0 var(--units-3) cols(6);

  @include mq(s) {
    grid-template-columns: 1fr cols(4);
    padding: var(--units-2) cols(2) var(--units-2) cols(2);
  }

  @include mq(m) {
    padding: var(--units-2) cols(2) var(--units-2) cols(4);
    grid-template-columns: 1fr cols(2);
  }
}

.bottom-row {
  display: inline-grid;
  justify-content: start;
  align-items: center;
  gap: var(--units-2);
  padding-bottom: var(--units-2);

  @include mq(s) {
    gap: var(--units-4);
    grid-auto-flow: column;
    padding-bottom: 0;
  }
}

.home-link {
  --icon-color: var(--color-red);
  --icon-size: #{cols(2)};

  @include mq(m) {
    --icon-size: #{cols(1)};
  }
}

p,
ul {
  margin: 0;
  padding: 0;
}
