// @use './../../scss' as *;
@use './../../variables' as *;
@use './../../scss/font/sizes-new' as *;

:host {
  display: inline-block;
  width: 100%;
}

.container {
  display: inline-grid;
  gap: var(--spacing-2);
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

label {
  @include ts-mini;
  padding-left: var(--spacing-3);
}

.input {
  @include ts-component;

  --font-family: var(--font-primary);

  transition: border-color 0.1s var(--ease-in-out);

  position: relative;
  display: grid;
  grid-auto-flow: column;
  gap: var(--spacing-3);
  align-items: center;
  justify-content: start;
  grid-template-columns: auto 1fr;

  border: var(--border-width) solid var(--color-grey-1);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  color: var(--color-black);

  padding: 0 var(--units-1);
  height: var(--units-4);
  max-width: none;
  min-width: -webkit-fill-available;
  box-sizing: border-box;

  cursor: text;

  &:focus-within {
    // border-color: var(--color-grey-3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  }
}

input {
  padding: 0;
  font: inherit;
  border: 0;
  height: 100%;
  width: 100%;

  &::placeholder {
    @include ts-mini;
    color: var(--color-grey-2);
  }

  &:focus {
    outline: 0;
  }
}

ul {
  margin: 0;
}

.select {
  @include ts-mini;
  // display: grid;
  // gap: 1px;
  // background: red;
  // border-radius: var(--border-radius);
  // border: 1px solid red;
  border-top: 0;

  position: absolute;
  top: 100%;
  width: 100%;
}

::slotted(option) {
  height: var(--units-4);
  padding: 0 var(--units-1);
  background: var(--color-white);
  display: flex;
  align-items: center;

  cursor: pointer;
}

// .input-text {
//   @include font-family(display);

//   display: inline-flex;

//   &__inner {
//     position: relative;
//     display: flex;
//     flex-direction: column-reverse;
//     justify-content: center;
//     width: 100%;
//   }

//   &__placeholder {
//     @include font-family(sans-serif);
//     position: absolute;
//     bottom: units(1);
//     width: 100%;

//     padding: 0 calc(#{units(1)} + 2px); // place it next to caret

//     color: $color-grey-2;

//     pointer-events: none;

//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;

//     * {
//       white-space: inherit;
//       overflow: inherit;
//       text-overflow: inherit;
//     }
//   }

//   &__input {
//     @include font-typeset(paragraph-component);

//     width: inherit;
//     height: units(4);
//     padding: 0 units(1);

//     background-color: $color-white;
//     border-radius: $border-radius;
//     border: $border-width solid $color-grey-1;

//     &:focus {
//       outline: 0;
//     }
//   }

//   .input-dropdown {
//     bottom: 0;
//     transform: translateY(calc(100% - #{$border-radius}));
//   }

//   &--slim {
//     justify-content: center;

//     &:focus-within {
//       .input-label {
//         color: $color-grey-2;
//       }
//     }

//     .input-label {
//       @include font-typeset(paragraph-standard);
//       position: absolute;
//       color: $color-black;

//       padding: 0 0 0 1em;
//     }

//     .input-text {
//       &__input {
//         padding-left: 55px;

//         &:not(:placeholder-shown) {
//           + .input-label {
//             color: $color-grey-2;
//           }
//         }
//       }

//       &__placeholder {
//         padding-left: 57px;
//         margin-top: 0;
//       }
//     }
//   }

//   /**
//    * controls / states
//    */

//   // hide dropdown by default
//   .input-dropdown {
//     display: none;
//   }
//   // show dropdown when input has focus
//   &:focus-within {
//     input {
//       box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
//     }

//     .input-dropdown {
//       box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
//       display: block;
//     }
//   }

//   // hide placeholder by default
//   .input-text {
//     &__placeholder {
//       opacity: 0;
//     }

//     &__input {
//       // show placeholder when input is empty
//       &:placeholder-shown {
//         ~ .input-text {
//           &__placeholder {
//             opacity: 1;
//           }
//         }
//       }
//     }
//   }
// }
