// @use './../../scss' as *;
@use './../../scss/font/sizes-new' as *;
@use './../../scss/sizing/golden-ratio' as *;
@use './../../scss/visual-aid/outline' as *;

:host {
  background: var(--color-red);
  color: var(--header-search-text-color, var(--color-white));
  display: block;
  padding: var(--units-2);
}

.input {
  --icon-size: 1em;

  @include ts-headline-2;
  
  border-bottom: var(--border-width) solid currentColor;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: var(--units-2);

  max-width: none;
}

input {
  font-family: var(--font-primary);
  font-size: 1em;

  line-height: 2;
  font-weight: normal;
  color: currentColor;

  width: 100%;
  background-color: transparent;
  border: 0;

  outline: 0;
  padding: 0;

  &::placeholder {
    color: currentColor;
  }
}

.header-search {
  position: relative;

  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  color: var(--color-white);

  &__form {
    @include ts-headline-2;

    width: 100%;
    display: flex;
    align-items: center;

    border-bottom: var(--border-width) solid currentColor;

    margin-bottom: golden-ratio(1);

    svg {
      height: 1em;
      margin-bottom: 0.1em;
      margin-right: 0.25em;
      flex-shrink: 0;
      fill: currentColor;
    }
  }

  &__suggestions {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;

    .mini {
      width: 100%;
      margin-bottom: golden-ratio(1);
    }
  }

  .headline-2 {
    font-weight: normal;
  }

  .tag {
    @include outline($on: ':focus-visible');

    display: inline-block;
    border: var(--border-width) solid currentColor;
    padding: var(--units-1) var(--units-2);
    margin-right: var(--units-1);
    margin-bottom: var(--units-1);
    line-height: 0.8;
    white-space: nowrap;

    &:hover {
      outline: 1px solid;
    }
  }
}
