@use '../color' as *;
@use 'outline' as *;

/**
* Adds some basic styling to make a child a-tag visually distinguishable
* Nice to use in a rich text block or similar
*/
@mixin default-a-tag-style {
  @include outline($on: ':focus-visible');

  text-decoration: underline;
  color: $red;

  @include is-dark-bg {
    color: $white;
  }
}
