// @use '../elements' as *;
@use '../color' as *;

/**
* Outline
*/
@mixin outline(
  $on: ':focus-visible',
  $target: '&',
  $pseudo: ':before',
  // pass true when element already has its position defined
  $alreadyPositioned: false
) {
  /**
  * When a child selector is passed as the target,
  * the child should be positioned relative,
  * or else the element with the mixin is positioned
  */
  @if not $alreadyPositioned {
    @if (index($on, '&')) {
      position: relative;
    } @else {
      #{$target} {
        position: relative;
      }
    }
  }

  /**
  * By the time of writing (jun -20) a polyfill for :focus-visible is needed.
  * https://github.com/WICG/focus-visible
  */
  @if (index($on, ':focus-visible')) {
    /**
    * When the element gain focus from an mouse click.
    */
    &:focus:not(.focus-visible) {
      outline: none;
    }

    /**
    * When the element gain focus from an keyboard event.
    */
    &.focus-visible,
    &:focus-visible {
      outline: none;

      #{$target}#{$pseudo} {
        @include _effect;
      }
    }
  } @else {
    /**
    * Include the effect like normal, when no polyfill is needed.
    */
    &#{$on} {
      #{$target}#{$pseudo} {
        @include _effect;
      }
    }
  }
}

/**
* Define the effect,
* gives a border made from a box-shadow
*/
@mixin _effect {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;

  padding: 0.33rem;
  left: -0.33rem;
  top: -0.33rem;

  box-shadow: 0 0 0 2px var(--color-black);
  border-radius: var(--border-radius);
  box-sizing: content-box;

  @include is-dark-bg {
    box-shadow: 0 0 0 2px var(--color-white);
  }
}
