@use '../elements' as *;
@use '../font' as font;
@use '../color' as *;

/**
* Tooltip for accessibility
* shows the elements title as a textbox
* when the element is focused by a keyboard.
*/
@mixin tooltip {

  /**
  * Only target elements with a title
  */
  &[title] {
    /**
    * Bugs if the element had a previous positioning.
    * Be sure to manually apply a position.
    */
    // position: relative;

    &.focus-visible {
      &:after {
        @include font.family(sans-serif);
        @include font.typeset(mini);

        content: attr(title);
        position: absolute;
        top: calc(100% + 1rem);
        left: 50%;
        transform: translateX(-50%);

        white-space: nowrap;
        padding: 0.5rem;

        border-radius: $border-radius;
        color: $black;
        border: 1px solid;
        background-color: $white;
      }
    }
  }
}
