@use '../animation/definitions' as *;

/**
* Underline
* Animates an underline,
* animation can be applied to any css action, defaults to :hover.
* $target can be a child selector, if the animation should be appied to a child
*/
@mixin underline($on: ':hover', $target: false) {
  /**
  * If a child selector is passed, apply effect to the child
  */
  @if ($target) {
    #{$target} {
      @include _effect-passive;
    }

    &#{$on} {
      #{$target} {
        @include _effect-active;
      }
    }
  }
  /**
  * Or apply the effect to the element with the mixin
  */
  @else {
    @include _effect-passive;

    &#{$on} {
      @include _effect-active;
    }
  }
}

/**
* Effect [private]
* define the rules that will be used
*/
@mixin _effect-passive {
  // width: calc(100%); // needed for edge, but the becomes to long on some situations

  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% var(--spacing-1);
  transition: background-size $link-transition;
  text-decoration: none;
}

@mixin _effect-active {
  background-size: 100% var(--spacing-1);
}
