@use './../../scss/sizing/spacing' as *;
@use './../../scss/visual-aid/outline' as *;
@use './../../scss/font/sizes-new' as *;
@use './../../scss/media-query' as *;
@use './../../scss/color/definitions' as *;
@use './../../scss/elements/variables' as *;
@use './../../scss/animation/definitions' as *;
@use 'sass:color';


:host {
  --icon-size: 1.2em;

  display: inline-flex;
  height: units(4);
}

a {
  @include outline($on: ':focus-visible');
  @include ts-action;
  text-decoration: none;

  transition: background-color 0.2s;

  flex: auto;

  display: inline-grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  gap: 1em;
  align-items: center;
  justify-content: center;

  background-color: var(--button-background, var(--color-red));
  color: var(--button-color, var(--color-white));

  border: 0;
  border-radius: var(--border-radius);
  padding: 0 var(--units-2);

  white-space: nowrap;
  letter-spacing: 0.05em;

  cursor: pointer;

  // used for the hover animation
  z-index: 0;
}

.secondary {
  background-color: var(--button-background, var(--color-blue));
}

.white {
  background-color: var(--button-background, var(--color-white));
  color: var(--button-color, var(--color-black));

  .hover {
    background-color: var(--color-black);
  }
}

.ghost {
  background-color: var(--button-background, transparent);
  border: var(--border-width) solid currentColor;
  padding: 0 calc(var(--units-4) - var(--border-width));

  .hover {
    background-color: var(--color-black);
  }
}

.hover {
  transition: transform 0.3s var(--ease-in-out);
  transform: scaleX(0);
  transform-origin: left;
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: var(--color-white);
  opacity: 0.1;
  z-index: -1;

  :hover & {
    transform: scaleX(1);
  }
}
