@use './../../scss/grid/grid' as *;
@use './../../scss/media-query' as *;

:host {
  display: grid;
  gap: cols(1);

  width: cols(22);
  margin: 0 auto;

  @include mq(s) {
    grid-template-columns: 1fr 1fr;
    width: cols(20);
    gap: var(--units-2);
  }

  @include mq(m) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// .centered-grid {
//   &__content {
//     display: flex;
//     flex-wrap: wrap;

//     > * {
//       width: 100%;

//       margin-bottom: units(1);

//       @include mq($from: s) {
//         // one item: 50% - 1/2 margin
//         width: calc(100% / 2 - #{math.div(units(2), 2)});

//         margin-right: units(2);
//         margin-bottom: units(2);

//         // remove margin from last item of each row...
//         &:nth-child(2n) {
//           margin-right: 0;
//         }
//       }

//       @include mq($from: m) {
//         // one item width: 33% - 2/3 margin
//         width: calc(100% / 3 - #{units(3) * math.div(2, 3)});

//         margin-right: units(3);
//         margin-bottom: units(3);

//         // ...put margin back...
//         &:nth-child(2n) {
//           margin-right: units(3);
//         }

//         // ...and now last item of each row is every third item
//         &:nth-child(3n) {
//           margin-right: 0;
//         }
//       }

//       // used to center the elements when there's 1 & 2 elements
//       &:first-child {
//         margin-left: auto;
//       }

//       &:last-child {
//         margin-right: auto;
//       }
//     }
//   }
// }
