// @use './../../scss' as *;
@use './../../scss/font/sizes-new' as *;
@use './../../scss/media-query' as *;
@use './../../scss/grid/grid' as *;

@keyframes slide-in {
  from {
    transform: translate(-20px, 0);
  }

  to {
    opacity: 1;
  }
}

:host {
  display: grid;
  gap: var(--units-5);
  width: cols(22);
  padding: var(--layout-6) 0;
  
  @include mq(m) {
    width: cols(20);
    gap: cols(1);
    grid-auto-flow: column;
    grid-template-columns: cols(9) 1fr;
    padding: var(--layout-7) 0;
  }
}

.left {
  @include mq($until: m) {
    order: 1;
  }
}

slot[name='left'] {
  @include ts-trumpet;
  display: grid;
  gap: var(--units-2);
}

slot:not([name]) {
  @include ts-headline-2;
  --font-weight: normal;
  display: grid;
  gap: var(--units-2);
}

// .is-open & {
//   li {
//     opacity: 0;
//     animation: slide-in 0.7s forwards $ease-in-out;

//     @for $i from 1 through 10 {
//       &:nth-child(#{$i}) {
//         animation-delay: calc(#{$i} * 0.1s);
//       }
//     }
//   }
// }
