@use './../../scss' as *;

.input-dropdown {
  @include font-family(sans-serif);
  @include font-typeset(mini);

  position: absolute;

  width: 100%;

  background-color: $color-white;
  border-radius: 0 0 $border-radius $border-radius; // sharp corners top
  border: $border-width solid $color-grey-1;
  border-top: 0;
  padding-top: $border-radius;

  z-index: get-z('input-dropdown');

  &:before {
    content: '';
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: $color-grey-1;
  }

  &__item {
    transition: background-color 0.1s;
    display: flex;
    align-items: center;
    height: units(4);
    padding: 0 units(1);

    color: $color-grey-2;

    cursor: pointer;

    svg {
      height: 1em;
      margin-right: golden-ratio(0);
      margin-bottom: 0.3em;
    }

    &:hover,
    &:focus {
      outline: 0;
      background-color: $color-grey-1;
      border-radius: $border-radius;
    }
  }
}
