@use './../../scss/media-query' as *;
@use './../../scss/sizing/spacing' as *;
@use './../../scss/font/sizes-new' as *;
@use './../../scss/visual-aid/underline' as *;
@use './../../scss/visual-aid/outline' as *;

li {
  @include ts-mini;
}

a {
  @include underline;
  @include outline;

  color: currentColor;

  @include mq($until: s) {
    display: none;
  }
}

.dimmed {
  opacity: 0.5;
}

span:not(.dimmed) {
  margin: 0 spacing(2);
  color: currentColor;

  @include mq($until: s) {
    display: none;
  }
}
