@use '../font/sizes-new.scss' as *;

// A simple placeholder element for easy testing and showcasing of components

.placeholder {
  position: relative;
  display: inline-block;

  width: 100%;
  height: 100%;
  min-width: inherit;
  min-height: inherit;
  max-width: inherit;
  max-height: inherit;

  border: 1px dashed #28313b;
  background-color: #fff;
  background-image: linear-gradient(155deg, #f3f3f3 0%, #d7e1ec 74%);

  &:after {
    @include ts-mini;

    content: 'Placeholder';
    text-transform: uppercase;

    position: absolute;
    top: 0.2em;
    right: 0.2em;

    opacity: 0.3;
  }
}
