@use './../color/definitions' as *;
@use './../media-query' as *;

$border-radius: 5px;
$border-width: 1px;
$page-width: 1920px;

:host,
:root {
  --border-radius: 5px;
  --border-width: 1px;
  --page-width: #{$page-width};
  --dsb-header-height-collapsed: var(--units-9);
  --dsb-header-height-expanded: var(--units-9);

  --flyout-transition: transform 0.6s var(--ease-in-out-quint);

  --header-collapsed: 64px;
  --header-no-headline-expanded: 136px;
  --header-show-headline-expanded: 164px;
  
  @include mq(m) {
    --dsb-header-height-collapsed: calc(var(--units-4) + (var(--units-1) * 2));
    --dsb-header-height-expanded: 124px;
    
    --header-collapsed: 72px;
    --header-no-headline-expanded: var(--header-collapsed);
    --header-show-headline-expanded: 124px;
  }
  
  @include mq(l) {
    --header-show-headline-expanded: 130px;
  }
}
