// @use '../../scss' as *;
@use './../../scss/grid/grid' as *;
@use './../../scss/sizing/golden-ratio' as *;
@use './../../scss/media-query' as *;
@use './../../scss/font/sizes-new' as *;

h1 {
  @include ts-headline-5;
  max-width: 60rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: golden-ratio(1);
}

.content {
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  padding-bottom: var(--units-3);

  &::-webkit-scrollbar {
    display: none;
  }
}

.ui {
  --icon-button-background-color: var(--color-blue);
  --icon-button-padding: var(--units-1);
  --icon-size: var(--units-2);
  --icon-color: var(--color-white);

  display: flex;
  gap: var(--units-2);

  max-width: cols(22);
  margin-top: var(--units-1);
  margin-left: auto;
  margin-right: auto;
  
  @include mq(s) {
    max-width: cols(20);
    margin-top: var(--units-2);
  }
}

::slotted(*) {
  scroll-snap-align: start;
  flex-shrink: 0;
  max-width: 75vw;
  
  @include mq(s) {
    max-width: 35vw;
  }
  
  @include mq(m) {
    max-width: 25vw;
  }
}

slot {
  display: flex;
  gap: cols(1);
  flex-shrink: 0;
}

:host([narrow]) {
  .content {
    scroll-padding-left: cols(1);
    scroll-padding-right: cols(1);
    padding-left: cols(1);
    padding-right: cols(1);

    @include mq(s) {
      scroll-padding-left: cols(2);
      scroll-padding-right: cols(2);
      padding-left: cols(2);
      padding-right: cols(2);
    }

    &::-webkit-scrollbar-track {
      margin-left: cols(1);
      margin-right: cols(1);

      @include mq(s) {
        margin-left: cols(2);
        margin-right: cols(2);
      }
    }
  }
}

:host([align-center]) {
  slot {
    align-items: center;
  }
}

:host([scrollbar]) {
  .content {
    &::-webkit-scrollbar {
      width: 0;
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background: var(--color-grey-2);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-red);
    }
  }
}
