@use './../../scss/font/sizes-new' as *;
@use './../../scss/sizing/golden-ratio' as *;
@use './../../scss/media-query' as *;
@use './../../scss/grid/grid' as *;

:host {
  display: grid;
  gap: cols(1);
  max-width: cols(22);
  margin: 0 auto;
  
  @include mq(s) {
    gap: var(--units-2);
    max-width: cols(20);
  }
}

.headline {
  display: flex;
  justify-content: center;
}

h1,
::slotted(h1) {
  @include ts-headline-5;
  max-width: 60rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: golden-ratio(1);
}
