@use './../../scss/font/sizes-new' as *;
@use './../../scss/media-query' as *;
@use './../../scss/grid/grid' as *;
@use './../../scss/visual-aid/outline' as *;

:host {
  display: inline-block;
  width: 100%;
  background-color: var(--color-grey-1);
  border-radius: var(--border-radius);
}

:host([isopen]) {
  dsb-icon {
    transform: rotate(45deg) scale(1.05);
  }
}

dsb-icon {
  transition: transform 0.2s var(--ease-in-out);
}

.title {
  display: grid;
  grid-auto-flow: column;
  gap: cols(1);
  
  @include mq(s) {
    gap: cols(2);
  }
}

[hidden] {
  height: 0;
  display: block;
}

.index {
  color: var(--color-red);
}

.details {
  --icon-size: var(--units-2);
  --icon-color: var(--color-red);
  
  @include outline;
  
  display: flex;
  gap: var(--units-2);
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  text-align: left;

  width: 100%;
  min-height: var(--units-6);
  padding: var(--units-1) cols(1);

  cursor: pointer;

  border: 0;
  background-color: transparent;

  @include mq(s) {
    padding-left: cols(2);
  }

  span {
    @include ts-component;
    --font-family: var(--font-primary);
  }
}

.summary {
  overflow: hidden;

  > div {
    padding: 0 cols(1) var(--units-2);
  
    @include mq(s) {
      padding: 0 cols(3) var(--units-3) cols(2);
    }
  }
}
