@use './../../variables' as *;
@use './../../scss/sizing/spacing' as *;
@use './../../scss/media-query' as *;
@use './../../scss/grid/grid' as *;

:host {
  display: block;
  color: var(--color-white);
}

section {
  position: relative;
  overflow: hidden;
}

.content {
  --banner-content-padding-top: var(--layout-7);
  --banner-content-padding-bottom: var(--layout-4);

  position: relative;
  z-index: 1;

  width: 100%;
  max-width: var(--page-width);
  box-sizing: border-box;

  padding: 0 cols(2);
  padding-top: var(--banner-content-padding-top);
  padding-bottom: var(--banner-content-padding-bottom);
  margin: 0 auto;

  @include mq(s) {
    --banner-content-padding-top: var(--layout-6);
    --banner-content-padding-bottom: var(--layout-6);
  }

  @include mq(m) {
    --banner-content-padding-top: var(--layout-7);
    --banner-content-padding-bottom: var(--layout-7);
  }

  @include mq(max) {
    --banner-content-padding-top: var(--layout-8);
    --banner-content-padding-bottom: var(--layout-8);
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
