@use 'sass:math';
@use 'settings' as *;
@use 'grid' as *;
@use '../media-query' as *;

.grid {
  @include grid;
}

// basic columns
@for $i from 0 through $col-count {
  .col-#{$i} {
    @include cols($cols: $i);
  }
  .col-ar-#{$i} {
    @include cols-ar($cols: $i, $ratio: math.div(4, 3));
  }
}

// basic offset
@for $i from 0 through $col-count {
  .offset-#{$i} {
    @include offset($cols: $i);
  }
}

// breakpoint specific columns and offsets
@each $breakpoint, $width in $dsb-breakpoints {
  @include mq($from: $breakpoint) {
    @for $i from 0 through $col-count {
      // ex: .col-s-12
      .col-#{$breakpoint}-#{$i} {
        @include cols($cols: $i);
      }
      .col-ar-#{$breakpoint}-#{$i} {
        @include cols-ar($cols: $i, $ratio: math.div(4, 3));
      }
      // ex: .offset-s-12
      .offset-#{$breakpoint}-#{$i} {
        @include offset($cols: $i);
      }
    }
  }
}
