@use './../../variables' as *;
@use './../media-query' as *;

.css-grid {
  --gap: var(--units-1);
  --max-width: var(--page-width);

  max-width: var(--max-width);
  display: grid;
  grid-auto-flow: column;
  gap: var(--gap);
  place-items: center;

  &.s-2 {
    @include mq($until: s) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: row;
    }
  }

  &.cols-m-2 {
    @include mq($until: m) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: row;
    }
  }
}
