@use 'sass:math';
@use '../media-query' as *;
@use '../elements/variables' as *;
@use 'settings' as *;

@function cols($cols, $of: $col-count) {
  $cols-function-bounded-width: min(100vw, var(--page-width));

  @return calc((#{$cols-function-bounded-width} / 24) * #{$cols});
}

@mixin cols($prop: width, $cols, $of: $col-count) {
  #{$prop}: #{math.div(100vw, $of) * $cols};

  @include mq($from: $page-width) {
    #{$prop}: #{math.div($page-width, $of) * $cols};
  }
}

@mixin cols-ar($cols, $ratio) {
  @include cols($prop: width, $cols: $cols);
  min-height: math.div((math.div(100vw, $col-count) * $cols), $ratio);

  @include mq($from: $page-width) {
    min-height: math.div((math.div($page-width, $col-count) * $cols), $ratio);
  }
}

@mixin offset($cols: 1) {
  @include cols($prop: margin-left, $cols: $cols);
}

@mixin grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

@function simulate-grid-cols($cols) {
  @return calc((100vw - #{math.div($page-width, 24) * $cols}) / 2);
}
